@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    background-color: $grey-3;
    display: flex;
    flex-direction: column;
    padding: $space-24 0 $space-8 0;
    border-radius: $space-8;
    width: max-content;
    align-items: center;

    @include breakpoint('mobile') {
        margin: auto $space-16;
        padding: $space-24 0 $space-8 0;
        width: max-content;
    }

    @include breakpoint('tablet') {
        margin: $space-24 auto;
        padding: $space-24 $space-24 $space-16 $space-24;
        width: max-content;
        align-items: center;
    }

}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoint('mobile') {
        flex-direction: row;
    }

    @include breakpoint('tablet') {
        flex-direction: row;
    }
}

.nested {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;

    @include breakpoint('mobile') {
        padding: 0 $space-24;
    }

    @include breakpoint('tablet') {
        padding: $space-24 $space-24;
    }

    @include breakpoint('desktop') {
    }
}
