@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    background-color: $teal-4;
    color: $grey-4;
    display: grid;
    flex-direction: column;
    padding: $space-24 0 $space-8 0;
    justify-items: center;
    width: auto;
    white-space: pre;


    @include breakpoint('mobile') {}

    @include breakpoint('tablet') {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr;
    }

    @include breakpoint('desktop') {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.box {
    display: grid;
    justify-items: center;

    @include breakpoint('tablet') {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-start: 2;
    }

    @include breakpoint('desktop') {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-start: 1;
    }

}

.nested {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;

    @include breakpoint('mobile') {
        padding: 0 $space-24;
    }

    @include breakpoint('tablet') {
        padding: $space-24 $space-24;
    }

    @include breakpoint('desktop') {}
}