@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    display: flex;
    flex-direction: column;
    padding: $space-24 0 $space-8 0;
    align-items: center;

    @include breakpoint('mobile') {
        padding: $space-24 $space-32 $space-8 $space-32;
    }

    @include breakpoint('tablet') {
        margin: $space-32;
        padding: auto;
    }

}

.nested {
    justify-content: space-between;

    @include breakpoint('mobile') {
        flex-direction: column;
        padding: $space-16;

    }

    @include breakpoint('tablet') {
        flex-direction: column;
        padding: $space-24;
    }
}


.box {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: max-content;
}


.chart {
    width: max-content;
}

.allocateDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-40;
}



.footer {
    text-align: center;
    padding: 0 0 $space-24 0;
    @extend .smallText;
}