@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    display: flex;
    flex-direction: column;
    padding: $space-24 0 $space-8 0;
    border-radius: $space-8;
    width: max-content;
    align-items: center;

    @include breakpoint('mobile') {
        width: max-content;
        align-items: center;
        padding: $space-24 $space-32 $space-8 $space-32;
    }

    @include breakpoint('tablet') {
        margin: $space-24 auto;
        width: max-content;
        align-items: center;
    }

}

.nested {
    justify-content: space-between;
    margin: auto;
    padding: $space-16;

    @include breakpoint('mobile') {
        flex-direction: column;

    }

    @include breakpoint('tablet') {
        flex-direction: column;
    }
}


.box {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: max-content;
}


.chart {
    width: max-content;
}

.allocateDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexMob {
    display: flex;
    flex-direction: row;

    @include breakpoint('mobile') {
        flex-direction: column;

    }

    @include breakpoint('tablet') {
        flex-direction: row;
    }
}