@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    display: grid;
    padding: $space-40;
    color: $grey-4;
    background-color: $teal-4;
    align-content: center;
    width: auto;

    @include breakpoint('mobile') {
    }

    @include breakpoint('tablet') {
        padding: $space-40;
    }
}

.box {
    display: grid;
    row-gap: $space-16;

    @include breakpoint('mobile') {
        grid-template-columns: 1fr;
    }

    @include breakpoint('tablet') {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

.gridHeader{
    @include breakpoint('mobile') {
        grid-column-start: 1;
    }

    @include breakpoint('tablet') {
        grid-column-start: 2;
    }
}

.gridContainer {
    display: grid;
    gap: $space-24;
    
    @include breakpoint('mobile') {
        grid-template-columns: 1fr 1fr;
        grid-column-start: 1;
    }

    @include breakpoint('tablet') {
        grid-template-columns: 1fr 1fr;
        grid-column-start: 2;
    }
}