@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    display: flex;
    flex-direction: column;
    padding: $space-32;

    @include breakpoint('mobile') {
    }

    @include breakpoint('tablet') {
    }
}

.box {
    display: flex;
    flex-direction: row;
}
