@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';
@import '../styles/theme/button.scss';

.container {
    background-color: $grey-3;
    display: flex;
    flex-direction: column;
    border-radius: $space-8;
    margin: auto;
    padding: $space-32;

    @include breakpoint('mobile') {
        margin: auto $space-8;
        width: auto;
    }

    @include breakpoint('tablet') {
        margin: $space-24 auto;
        width: max-content;
    }


}

.box {
    display: flex;
    flex-direction: row;
    gap: 16vw;
}

.nested {
    margin: $space-8 0 0 0;
}