@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: $space-40 auto;

    @include breakpoint('mobile') {
        width: fit-content;
        margin: $space-40 auto;
        padding: $space-40 $space-40;
    }

    @include breakpoint('tablet') {
        margin: auto;
        padding: $space-40 $space-80;
    }

}

.stats {
    padding: $space-16 0 0 0;
}

.statsRow {
    display: flex;
    flex-direction: row;
}

.nested {
    padding: $space-8 0;
}

.statsRow .nested{
    padding: $space-16 $space-24 0 0;
}
