@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';

.container {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: $space-40 auto;

    @include breakpoint('mobile') {
        margin: $space-80 $space-16 $space-40;
    }

    @include breakpoint('tablet') {
        margin: $space-40 auto;
    }

}

.stats {
    display: flex;
    flex-direction: row;
    margin: $space-24 0 $space-8 0;

    @include breakpoint('mobile') {
        margin: $space-16 0 0 0;
    }

    @include breakpoint('tablet') {
        margin: $space-16 0 0 0;
    }

    @include breakpoint('desktop') {
        margin: $space-24 0 $space-8 0;
    }
}

.nested {
    display: flex;
    flex-direction: column;
    padding: 0 $space-32 0 0;
}