@import '../styles/theme/breakpoint.scss';
@import '../styles/theme/colors.scss';
@import '../styles/theme/type.scss';
@import '../styles/theme/space.scss';

.container {
    display: grid;
    margin: $space-40 auto auto auto;
    padding: $space-40;

    @include breakpoint('mobile') {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: $space-40 auto auto auto;
    }

    @include breakpoint('tablet') {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        margin: auto;
    }

    @include breakpoint('desktop') {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.welcome {
    grid-column-start: 2;
    grid-row-start: 1;

    @include breakpoint('mobile') {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    @include breakpoint('tablet') {
        grid-column-start: 2;
        grid-row-start: 1;
    }
}

.tool {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats {
    padding: $space-16 0 0 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: $space-8;

    @include breakpoint('mobile') {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    @include breakpoint('tablet') {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

.statsRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $space-16;
    grid-column-start: 2;
    grid-row-start: 3;

    @include breakpoint('mobile') {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    @include breakpoint('tablet') {
        grid-column-start: 2;
        grid-row-start: 3;
    }
}

.statsRow .nested{
    padding-top: $space-16;
}
