@import './breakpoint.scss';
@import './colors.scss';
@import './type.scss';
@import './space.scss';

.btnPrimary {
    background-color: $grey-4;
    padding: $space-16 $space-32;
    color: $grey-1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    @extend .button
    
}

.btnPrimary:hover {
    background-color: $grey-3;
    border-radius: $space-8;
    transition: 0.5s;
    color: $grey-1;
}

.btnPrimary:active {
    transform:scale(0.98);
    border-radius: $space-8;
    transition: 0.5s;
}

.btnSecondary {
    background-color: $grey-1;
    padding: $space-16 $space-32;
    color: $grey-4;
    border: 1px solid $teal-4;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    @extend .button
}

.btnSecondary:hover {
    background-color: $grey-2;
    border-radius: $space-8;
    transition: 0.5s;
    color: $grey-4;
}

.btnSecondary:active {
    transform:scale(0.98);
    border-radius: $space-8;
    transition: 0.5s;
}