@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');
@import './breakpoint.scss';

.h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 103%;
}

.h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
}

.h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 133%;
}

.h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 135%;

    @include breakpoint('mobile') {
        font-size: 22px;
    }

    @include breakpoint('tablet') {
        font-size: 22px;
    }

    @include breakpoint('desktop') {
        font-size: 22px;
    }
}

.h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 133%;
    text-transform: capitalize;
}

.h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-transform: capitalize;
}

.header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-transform: none;
    overflow: hidden;
    white-space:nowrap;
}

.smallText {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-transform: none;
    overflow: hidden;
    white-space:nowrap;
}

.bodyLarge {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-transform: none;
    overflow: hidden;
    white-space:nowrap;
}

p .body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    text-transform: none;
}

.button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    text-transform: none;
    overflow: hidden;
    white-space:nowrap;
}

.buttonText {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-transform: none;
    overflow: hidden;
    white-space:nowrap;

    &:hover {
        font-weight: 700;
    }
}